footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #283618;
  padding: 20px;
  font-family: "Dosis";
  
}

section {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  
}
section:last-child {
  margin-right: 0;
}
h2 {
  color: antiquewhite;
  border-bottom: 3px solid antiquewhite;
  padding: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  letter-spacing: 3px;
  /* border-bottom: 10px ; */
}

a {
  color: antiquewhite;
  text-decoration: none;
  font: bold;
  margin-bottom: 2px;
  font-size: 13px;
  
}

a:hover {
  box-shadow: 0 2px 5px -2px black;
  border-bottom: 2px solid #bc6c25;
  margin-bottom: 1px;
}
